<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="EmployeeDbCon" connectionString="Data Source = Employee.db"/>
    <add name="BierenDbCon" connectionString="Server =.; Database = BierenDb; Trusted_Connection = True;"/>
    <add name="Boekhouding" connectionString= "Server=(localdb)\\MSSQLLocalDB;Database=BoekhoudingDI;Trusted_Connection=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="financeApiKey" value="8e5b68b6bac6e3fe5c98c5781306f694"/>
    <add key="beerBaseUrl" value="http://api.brewerydb.com/v2/"/>
  </appSettings>
</configuration>